 <header>
        <div class="container">
            <div class="logo">
                <p>Contact: giangvo@0206gmail.com</p>
            </div>
            <nav>
                <ul>
                    <li>About me</li>
                </ul>
            </nav>
        </div>
 </header>